/*HOME*/

* {
    margin: 0;
    padding: 0;
}

.bodyHome {
    background-color: rgba(0, 0, 0, 0.692);

}

.mainContenedor {
    display: grid;
    grid-template-columns: 100vh;
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 40vh;


    .box_link {
        border-radius: 10px;
        width: auto;
        margin: auto;
        padding: 20px;
        box-shadow: 10px 10px 30px black;
        animation-name: aparecer;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .box_link:hover{
        text-shadow: 0 0 5px white;
        box-shadow: 0px 0px 5rem white;
        padding: 3rem;
        transition: all 1s ease-out;
    }

    #secondPage {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
    .subTitle {
        color: white;
        font-size: 15px;
    }

}

/*SECOND PAGE JOHNSON-ABOUTME*/

.bodyJohnson {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.title_2 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;

    .name {
        text-shadow: 2px 2px 2px black;
        color: white;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    border: 1px solid white;
    padding: 10px;
    gap: 15px;
    background-color: #A5A692;



    .HeaderMain {
        grid-column: span 3;
        background-color: #FF9A8B;
        background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
        color: white;
        text-transform: uppercase;
        padding:5px;
        box-shadow: 2px 2px 0 white;
    }

    .articles {
        grid-column: span 2;
        border: 2px solid white;
        padding: 10px;
        color: white;
    }

    .content p{
        border: 2px solid white;
        padding: 10px;
        margin: 5px;
        color: black;
        background-color: white;
        font-weight: bolder;
        font-size: 20px;
    }

    .Reference {
        background-color: black;
        color: white;
        width: fit-content;
        padding: 5px;
    }

    .Reference:hover {
        background-color: rgba(173, 216, 230, 0.836);
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 0 white;
        text-shadow: 0 0 5px white;
        font-style: italic;
        transition: all 1s ease;
    }

    .mainFooter {
        grid-column: span 3;
        background-color: #FF9A8B;
        background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
        font-size: 20px;
        padding: 15px;
        box-shadow: 2px 2px 0 white;
    }

    .mainFooter p {
        text-align: center;
        color: white;
        font-size: 30px;
        text-shadow: 0 0 3px black;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .asideRight {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-color: white;
        width: 50%;
        height: fit-content;
        text-align: center;
        margin: auto;
        padding: 20px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 20px;
        
    }

    .asideRight:hover {
        transition: box-shadow 1s ease;
        box-shadow: 0 0 30px white;
    }

    .asideRight i {
        color: black;
        font-size: 40px;
    }

    .asideRight h4 {
        font-size: 40px;
        font-weight: bolder;
    }
}















@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}